# Berksfile managed dependencies
/Berksfile.lock
/berks-cookbooks/

# Per-node configuration
/nodes/

# Chef's own temporary files
/cache/
/chef-client-running.pid
/chef-stacktrace.out
/remote_file/
/tmp/
