[Desktop Entry]
Version=1.0
Name={{ profile['comment'] }} (Google Chrome)
Comment=Access the Internet
Exec=/usr/bin/google-chrome-stable --profile-directory={{ profile['slug'] }} %U
Terminal=false
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
Actions=NewWindow;NewPrivateWindow;

[Desktop Action NewWindow]
Name=New Window
Exec=/usr/bin/google-chrome-stable --profile-directory={{ profile['slug'] }}

[Desktop Action NewPrivateWindow]
Name=New Incognito Window
Exec=/usr/bin/google-chrome-stable --profile-directory={{ profile['slug'] }} --incognito
